@using Bookish.Models.Users
@using Dapper;
@model Bookish.Models.Users.UsersModel;
@{
    ViewBag.Title = "Create a new User";
    Layout = "_Layout";
    DefaultTypeMap.MatchNamesWithUnderscores = true;
}

    <h1>New User</h1>

        <form asp-controller="User" asp-action="CreateUser" method="post">
            <figure class="formItem">
                <label asp-for="FirstName">First Name:</label><br>
                    <input asp-for="FirstName"/><br/>
                    <span asp-validation-for="FirstName"></span>
            </figure>
            
            <figure class="formItem">
                <label asp-for="LastName"></label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName"></span>
            </figure>
            
            <figure  class="formItem">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </figure>
            
            <figure  class="formItem">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl"/>
                <span asp-validation-for="ImageUrl"></span>
            </figure>
            
            <figure  class="formItem">
                <button type="submit">Submit</button>
            </figure>
            
        </form>


