@using Bookish.Models.Book
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookish</h1>
    <section class="section-container">
        <div>Content...</div>
        
    </section>
</div>
