@using Bookish.Models.Book
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@{
           BookServices books = new BookServices();
           books.GetBook();
       }</p>
</div>
